<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tire uma foto do(a) Ceetificado de Registro e Licenciamento de Veículo - CRLV</h1>
  <br>
  <div>
    <p class="termo">
      Lembre-se, é preciso que: 1. A foto mostre todo o documento, como na imagem abaixo. 
      2. Todos os campos estejam legíveis. 3. A categoria do veículo apareça como "Particular".
      4. O veículo não seja anterior a 2010. Obs: O CRLV eletrônico é aceito regularmente.
    </p>
  </div>

  <img src="assets/img/exemplo-crlv.jpg"><br>

  <ion-button class="botao">Enviar foto</ion-button>
</ion-content>