ion-content {
    --background: var(--ion-color-light);
    --background: url("/src/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

ion-item {
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
}

ion-icon {
    color: gray;
}

img {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    //text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

.declaracao {
    font-size: 1.1rem;
    //font-weight: bold;
    padding: 10px;
    //padding-bottom: 0px;
    color: #123b7d;
    text-align: justify;
}

.termo {
    padding: 10px;
    padding-top: 0px;
    color: #123b7d;
    margin-top: -20px;
    text-align: justify;
}