<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="end" (click)="close()">
                <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>   
    </ion-header>
  
    <ion-content fullscreen>
        <h1>Mensagens</h1>
    </ion-content>
  </ion-app>