ion-content {
    --background: var(--ion-color-light);
    --background: url("/src/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --background: #001c4e !important;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

input {
    border: 1px solid lightgray;
    border-radius: 50px;
    padding-left: 10px;
    width: 100%;
}

.boxConteudo {
    background: white;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px #e4e4e4;
}

.boxConteudo label {
    text-transform: uppercase;
    font-size: 12px;
}

.boxConteudo .form-control {
    height: calc(1.5em + .75rem + 14px);
    border-radius: 100px;
}

.boxConteudo .btn {
    font-weight: bold;
}
  
.descricaoTitulo {
    text-align: center;
    color: #001c4e;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.formasPagamento .form-group svg {
    position: absolute;
    right: 40px;
    top: 32px;
    font-size: 24px;
    color: #717c8e;
}

.greenButton {
    background: #b1ff49;
    color: #001c4e;
    border: solid 3px #b0f555;
}

.buttonArea.smallfont button {
    font-size: 15px;
    line-height: 24px;
    border-radius: 50px;
    text-align: center;
    align-self: center;
    display: block;
    margin: auto;
    height: 45px;
    width: 100%;
}
