  <ion-content padding >
    <div class="logoLogin">
      <img src="/assets/img/logo-branco.png" alt="Uai Leva">
      
  </div>
    <h1>Motorista</h1>
    <form style="padding-left: 10px; padding-right: 10px;"> 
      <ion-item> 
        <ion-input type="tel" name="telefone" placeholder="Telefone">
          <ion-icon name="phone-portrait-outline" size="small" slot="start"></ion-icon>&nbsp;
        </ion-input>
      </ion-item>
      <p></p>
      <ion-item>
        <ion-input [type]="tipo ? 'text' : 'password'" name="senha" placeholder="Senha">
          <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>&nbsp;
        </ion-input>
        <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" style="padding-top: 5px;"></ion-icon>
      </ion-item>
    </form>

    <p></p>

    <ion-button (click)="goToHome()" class="botao">Entrar</ion-button>



    <br><br><br>
    <ion-button (click)="cadastro()" class="cadastrar"><ion-icon name="caret-forward" size="small" slot="end" style="color: #b1ff49;"></ion-icon>&nbsp;Quero me cadastrar</ion-button>

    <!--<ion-grid>
              <ion-button shape="round" expand="full" color="tertiary" (click)="loginFb()">
                  <ion-icon slot="start" name="logo-facebook" style="color: #1b2c7b;" [src]="user.img" alt=""></ion-icon>&nbsp;
                  <h3>LOGIN COM FACEBOOK</h3>
                </ion-button><p></p>
                <ion-button shape="round" expand="full" color="tertiary">
                  <ion-icon slot="start" name="logo-google" style="color: #1b2c7b;"></ion-icon>&nbsp;
                  <h3>LOGIN COM GMAIL</h3>
                </ion-button>
          </ion-grid>-->
</ion-content>
