ion-toolbar.user-profile {
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
    --background: #001c4e !important;
    margin-bottom: 2px;
    .user-avatar {
      width: 60px;
      height: 60px;
      --border-style: var(--border-style) !important;
    }
    .item-inner {
      border-bottom: 2.5px dotted white !important;
      border-top: 2.5px dotted white !important;
      color: #fff;
      --border-style: var(--border-style) !important;
    }
    .item-inner-else{
      /*border-bottom: 3px solid white !important;
      border-top: 3px solid white !important;
      margin-left: 20px !important;
      margin-right: 20px !important;*/
      --border-style: var(--border-style) !important;
    }
  }
  
  // Custom toolbar (overriding Shadow DOM)
  ion-toolbar {
    border-style: none !important;
    &.ion-color-primary {
      --ion-color-base: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary)) !important;
    }
    
  }ion-item {
    --color: black;
    //deixar menu sem linhas
    --ion-item-background: transparent;
    --border-style: var(--border-style);
    --border: 0 none; 
    --box-shadow: 0 0 0 0; 
    --outline: 0;
}

ion-icon {
    color: black;
}