<ion-app>
  <ion-menu side="start" type="push" contentId="main">
    <ion-toolbar class="user-profile">
      <ion-item class="item-inner-else">
      <ion-avatar slot="start" class="user-avatar"><img src="assets/img/teste-avatar.png"></ion-avatar>
        <ion-label><h1 style="color: white;"><strong>Jéssica Araújo</strong></h1></ion-label>
      </ion-item>
      <br>
      <ion-item class="item-inner" (click)="showModalMensagens();">
        <svg slot="end" style="color: #fff;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
        </svg>
      <ion-label style="color: white;">Mensagens</ion-label>
    </ion-item>

    </ion-toolbar>
    <ion-content>
      <ion-list>
        <ion-item (click)="toMinhasViagens();">
          <ion-icon name="flag-outline" size="small" slot=end></ion-icon>
          <ion-label>Minhas Viagens</ion-label>  
        </ion-item>

        <ion-item (click)="toMeusPagamentos();">
          <ion-icon name="card-outline" size="small" slot=end></ion-icon>
          <ion-label>Meus Pagamentos</ion-label>
        </ion-item>

        <ion-item (click)="toAjuda();">
          <ion-icon name="help-circle-outline" size="small" slot=end></ion-icon>
          <ion-label>Ajuda</ion-label>
        </ion-item>

        <ion-item (click)="toConfiguracoes();">
          <ion-icon name="settings-outline" size="small" slot=end></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-item>

        <ion-item (click)="toAvaliacoes();">
          <ion-icon name="star-outline" size="small" slot=end></ion-icon>
          <ion-label>Avaliações</ion-label>
        </ion-item>

        <ion-item (click)="logout();">
          <ion-icon name="exit-outline" size="small" slot=end></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>