<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <h1>Cadastro</h1>
  <form style="padding-left: 10px; padding-right: 10px;"> 
    <ion-item>
      <ion-input type="text" name="nome" placeholder="Nome">
        <ion-icon name="person-outline" size="small" slot="start" item-start></ion-icon>&nbsp;
      </ion-input>
    </ion-item>

    <p></p>

    <ion-item>
      <ion-input type="text" name="email" placeholder="E-mail">
        <ion-icon name="mail-outline" size="small" slot="start"></ion-icon>&nbsp;
      </ion-input>
    </ion-item>

    <p></p>

    <ion-item>
      <ion-input [type]="tipo ? 'text' : 'password'" name="senha" placeholder="Senha">
        <ion-icon name="lock-closed-outline" size="small" slot="start"></ion-icon>&nbsp;
      </ion-input>
      <ion-icon [name]="tipo ? 'eye-outline' : 'eye-off-outline'" slot="end" size="small" (click)="mostrarSenha()" style="padding-top: 5px;"></ion-icon>
    </ion-item>

    <p></p>
    
    <ion-item> 
      <ion-input type="tel" name="telefone" placeholder="Telefone">
        <ion-icon name="phone-portrait-outline" size="small" slot="start"></ion-icon>&nbsp;
      </ion-input>
    </ion-item>
  </form>
  <p></p>
  <ion-button class="botaoCadastro" (click)="toEtapas()">Cadastrar</ion-button>
</ion-content>
