<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Tire sua foto de perfil</h1>

  <div>
    <p class="declaracao">
      Observação: não é possível alterar a foto de perfil depois de enviá-la.
      Antes de enviar a foto, verifique se te representa com precisão.
    </p>

    <p class="termo">
      1. Mostre o rosto todo e a parte de cima dos ombros.<br>
      2. Não use óculos escuros nem chapéu.<br>
      3. Tire a foto em um local bem iluminado.<br>
    </p>

  </div>

  <img src="assets/img/teste-avatar.png"><br>

  <ion-button class="botao">Enviar foto</ion-button>
</ion-content>