<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Consentimento legal</h1>

  <div>
    <p class="declaracao">Declaração de checagem de antecedentes</p>
    <p class="termo">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type 
      specimen book. It has survived not only five centuries, but also the leap into 
      electronic typesetting, remaining essentially unchanged. It was popularised in 
      the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
      and more recently with desktop publishing software like Aldus PageMaker including 
      versions of Lorem Ipsum.</p>
  </div>

  <ion-item>
    <ion-checkbox item-start (ionChange)="enableBtn($event)"></ion-checkbox>&nbsp;
    <ion-label>Estou ciente e aceito</ion-label>
  </ion-item><br>


  <ion-button [disabled]="checkedButton" class="botao">Aceito</ion-button>
</ion-content>
