h1 {
    font-size: 1rem;
    text-align: left;
    //text-transform: uppercase;
    margin: 15px 0;
    font-weight: bold;
    color: #123b7d;
}

ion-content {
    --background: var(--ion-color-light);
    //--background: url("/src/assets/img/bg-uai-leva2.png") #eaeaea no-repeat bottom 75px left 45px;
    --background: #eaeaea;
}

ion-toolbar {
    --background: #001c4e !important;
}

ion-header {
    --backfround: #001c4e !important;
}

ion-icon {
    color: #001c4e;
}