<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="end" (click)="close()">
                <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16" style="color: #001c4e;">
                        <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>   
    </ion-header>

    <ion-content fullscreen>
        <ion-list>
          <ion-radio-group value="cartao">
            <ion-item-divider><ion-label><h2>Formas de Pagamento</h2></ion-label></ion-item-divider>
            <ion-item>
                <ion-icon name="card-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Cartão</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="cartao"></ion-radio>
            </ion-item>
  
            <ion-item>
                <ion-icon name="cash-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Dinheiro</h1></ion-label>
                <ion-radio mode="ios" slot="end" value="dinheiro"></ion-radio>
            </ion-item>

            <ion-item (click)="showModalMeusPagamentos()">
                <ion-icon name="add-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Adicionar forma de pagamento</h1></ion-label>
            </ion-item>

            <ion-item-divider><ion-label><h2>Vouchers</h2></ion-label></ion-item-divider>
            <ion-item>
                <ion-icon name="add-outline" slot="start" size="small"></ion-icon>
                <ion-label><h1>Adicionar voucher</h1></ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>

    </ion-content>
</ion-app>