 <ion-header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="#">
      <img src="/uaileva/assets/img/logo-branco.png" style="width: 2.5em;"/>
      </a>
      <ion-buttons slot="end">
        <ion-menu-button color="medium"></ion-menu-button>
      </ion-buttons>
  </nav>
</ion-header>
<ion-content>
  <div #map>
      <!--<ion-buttons class="ion-margin-top" slot="start" (click)="back()" [hidden]="!destination" style="position: fixed;">
        <ion-button text="" icon="close" style="height: 50px; width: 50px; border-radius: 50px; background-color: white;">
            <ion-icon name="arrow-back" style="color: #001c4e; size: 5em;"></ion-icon>
        </ion-button>
    </ion-buttons>
       
      <br>
    
      <div class="boxConteudo" [hidden]="destination">
          <div class="saudacao">
              <ion-text color="medium">
                  Olá 
              </ion-text> 
              <br><br>
          </div>
        
          <button type="button" class="btn btn-primary btn-lg rounded-pill escolherDestino" (click)="toggleTeste();">
              ESCOLHER DESTINO
          </button>
          <button type="button" class="btn btn-primary btn-lg rounded-pill embarqueRapido" (click) = "embarqueRapido();">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" fill="currentColor" id="Capa_1" x="0px" y="0px" viewBox="0 0 401.994 401.994" style="enable-background:new 0 0 401.994 401.994;" xml:space="preserve">
              <g>
                  <g>
                      <path d="M0,401.991h182.724V219.265H0V401.991z M36.542,255.813h109.636v109.352H36.542V255.813z"/>
                      <rect x="73.089" y="292.355" width="36.544" height="36.549"/>
                      <rect x="292.352" y="365.449" width="36.553" height="36.545"/>
                      <rect x="365.442" y="365.449" width="36.552" height="36.545"/>
                      <polygon points="365.446,255.813 328.904,255.813 328.904,219.265 219.265,219.265 219.265,401.991 255.813,401.991     255.813,292.355 292.352,292.355 292.352,328.904 401.991,328.904 401.991,219.265 401.991,219.265 365.446,219.265   "/>
                      <path d="M0,182.728h182.724V0H0V182.728z M36.542,36.542h109.636v109.636H36.542V36.542z"/>
                      <rect x="73.089" y="73.089" width="36.544" height="36.547"/>
                      <path d="M219.265,0v182.728h182.729V0H219.265z M365.446,146.178H255.813V36.542h109.633V146.178z"/>
                      <rect x="292.352" y="73.089" width="36.553" height="36.547"/>
                  </g>
              </g>
          </svg>
          </button>

          <div class="clearfix"></div>

          <div class="collapse" id="collapseExample" name="collapseExample" style="display:none">
                
              <ion-searchbar [(ngModel)] = "searchOrigem" (ionChange) = "searchChangedOrigem()" placeholder="Onde cê tá ?" ></ion-searchbar>
              <ion-list class ="ion-margin-horizontal" [hidden]="!searchOrigem.length">
                  <ion-item (click) = "calcRouteOrigem(resultOrigem)" *ngFor= "let resultOrigem of searchResultsOrigem">
                      {{resultOrigem.description}}
                  </ion-item>
              </ion-list>
                 
                <ion-searchbar [(ngModel)] = "search" (ionChange) = "searchChanged()" placeholder="Onde cê vai ?" ></ion-searchbar>
                  <ion-list class ="ion-margin-horizontal" [hidden]="!search.length">
                      <ion-item (click) = "calcRoute(result)" *ngFor= "let result of searchResults">
                      {{result.description}}
                      </ion-item>
                  </ion-list>
              
                  <div>
                      Destinos Recentes
                  </div>
                  <div>
                      <div class="iconeDestinoRecente">

                      </div>
                      <div class="endDestinoRecente">
                          <div class="tituloDestinoRecente">Avenida Antônio Junqueira de Souza</div>
                          <b>Av. Avenida Antônio Junqueira de Souza, 615, São Louren..</b>
                      </div>

                  </div>
                  
          </div>

          <div class="collapse" id="collapseExample1" name="collapseExample" style="display:none">
                
              <h1>Cadastrar cartão de crédito</h1>
                
          </div>
          
      </div>
  
      <div class="pagamentos" [hidden]="!destination">
              <div class="position"><img src="/uaileva/assets/img/carro.png" style="width: 7em; height: 6em;"></div>
                  <ion-row>
                      <ion-col><div class="elseuaiLeva">&nbsp;UaiLeva</div></ion-col>
                      <ion-col>
                      <span>
                          <svg  slot="start" width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-wallet2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #123b7d;">
                          <path fill-rule="evenodd" d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                          </svg>&nbsp;
                          R$10,29
                      </span>
                      <span>
                          <svg  slot="start" width="0.9em" height="0.9em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #123b7d;">
                              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                              <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                          </svg>&nbsp;
                         8 min
                      </span>
                      </ion-col>
                  </ion-row>

          <p class="else" (click)="showModalPagamentos()">Formas de Pagamentos
              &nbsp;<ion-icon name="arrow-forward-outline" slot="end" size="small" style="color: #1b2c7b;"></ion-icon>
          </p>
          
          <button type="button" class="btn btn-primary btn-lg rounded-pill pegarCarro" (click)="carregandoAlerta();">
              PEGAR UAILEVA
          </button>
      </div>-->
  </div>
</ion-content>