#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
}


.boxConteudo {
  background: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #e4e4e4;
  position: absolute !important;
  //display: inline-block;
  display: block; 
  margin-left: 13px; 
  margin-right: auto;
  z-index: 9999 !important; /* número máximo é 9999 */
  width: calc(100% - 25px) !important;
}

.pagamentos {
  background: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #e4e4e4;
  position: fixed !important;
  z-index: 9999 !important; /* número máximo é 9999 */
  width: 100%;
  height: 224px;
  margin-top: 90%;
}


button.btn.btn-primary.btn-lg.rounded-pill.escolherDestino {
  font-size: 15px;
}
.boxConteudo label {
  text-transform: uppercase;
  font-size: 12px;
}

.boxConteudo .form-control {
  height: calc(1.5em + .75rem + 4px);
}

.buttonArea button {
  //width: 9px;
  width: 100%;
  //width: max-content;
  //width: calc(100% - 60px) !important;
}

.buttonArea svg {
font-size: 25px;
margin-right: 5px;
}

button.navbar-toggler {
border-radius: 100px !important;
height: 55px !important;
background: #ffffff;
border: #92f328 solid 0px;
outline: none;
}

.boxConteudo .btn {
font-weight: bold;
}

.mapa iframe {
  border: 0;
  width: 100%;
  height:100vh;
  position: relative;
  top: 0px;
  z-index: -1;
}

.saudacao {
  text-align: center;
}

.homePassageiro .boxConteudo {
  position: absolute !important;
  top: 30px;
  width: calc(100% - 0px);
  margin: 0 auto;
  padding: 15px 5px;
}

.homePassageiro .buttonArea button.rounded-pill {
  font-size: 15px;
}

button.escolherDestino {
  background:#001c4e;
  border-color: #001c4e;
  width: calc(100% - 60px) !important;
  float: left;
  background-color: white ;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  color: #fff;
}


button.pegarCarro {
  background:#001c4e;
  border-color: #001c4e;
  width: 100%;
  border-radius: 100px;
  height: 50px;
  color: #fff;
  font-size:18px;
}

button.embarqueRapido {
  float: right;
  padding: 0px 12px;
  width: 45px !important;
  height: 45px;
}

button.embarqueRapido svg {
  width: 19px;
  color: #416313;
}

button.btn.btn-primary.btn-lg.rounded-pill.embarqueRapido {
   background: #b1ff49;
   border: none;
   border-radius: 100%;
}

.formDestino {
  border: none;
  margin-top: 5px;
}

.endDestinoRecente {
  font-size: 11px;
  background: #eee;
  padding: 14px;
  border-radius: 5px;
}

.endDestinoRecente b {
  font-weight: normal;
  color: darkgray;
}

.tituloDestinoRecente {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-collapse {
  position: fixed;
  top: 0px;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 75%;
  height: 100%;
  background: #001c4e;
  text-transform: uppercase;
  z-index: 9999;
  box-shadow: 0px 0px 90px black;
}

.navbar-collapse a.nav-link {
color: white !important;
font-weight: bold;
font-size: 19px;
}


.navbar-dark .navbar-toggler {
  background:#001c4e;
}

.navbar-dark span.navbar-toggler-icon {
  padding: 15px;
//background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}


.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  margin-top: 0px;
  left: 0;
  transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: left 500ms ease-in-out;
}

.navbar-light .navbar-toggler-icon {
  padding: 15px;
  background-color: white !important;
  border-radius: 100px;
  //background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.animacao {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 50%;
  //vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 7px solid #a9a9a9;
  border-top-color: #001c4e;
  border-radius: 50px;
  animation: is-rotating 1.5s infinite;
}

.position {
  width: fit-content;
  display: block;
  position: absolute;
  top: 5px;
  left: 10px;
}

.navbar-collapse {
  position: fixed;
  top: 0px;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 75%;
  height: 100%;
  background: #001c4e;
  text-transform: uppercase;
  z-index: 9999;
  box-shadow: 0px 0px 90px black;
}

.navbar-collapse a.nav-link {
color: white !important;
font-weight: bold;
font-size: 19px;
}

button.escolherDestino {
  background:#001c4e;
  border-color: #001c4e;
  width: calc(100% - 60px) !important;
  float: left;
}

.formDestino {
  border: none;
  margin-top: 5px;
}
.endDestinoRecente {
  font-size: 11px;
  background: #eee;
  padding: 14px;
  border-radius: 5px;
}

.endDestinoRecente b {
  font-weight: normal;
  color: darkgray;
}

.tituloDestinoRecente {
  text-transform: uppercase;
  font-weight: bold;
}
button.btn.btn-primary.btn-lg.rounded-pill.escolherDestino {
  font-size: 15px;
}

.navbar-dark .navbar-toggler {
  background:#001c4e;
}

.navbar-dark span.navbar-toggler-icon {
  padding: 15px;
//background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}


.navbar-collapse.collapsing {
  left: -75%;
  transition: height 0s ease;
}

.navbar-collapse.show {
  margin-top: 0px;
  left: 0;
  transition: left 300ms ease-in-out;
}

.navbar-toggler.collapsed ~ .navbar-collapse {
  transition: left 500ms ease-in-out;
}

.else {
  font-size: 1.2rem;
  display: block;
  padding-top: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: bold;
  color: #123b7d;
  }

  .elseuaiLeva {
      font-size: 1.2rem;
      display: block;
      padding-top: 2px;
      //text-align: center;
      padding-left: 100px;
      text-transform: uppercase;
      margin: 15px 0;
      font-weight: bold;
      color: #123b7d;
  }

  span {
  font-size: 1rem;
  display: block;
  text-align: right;
  text-transform: uppercase;
  padding-top: 3px;
  font-weight: bold;
  color: #123b7d;
  }

  h1 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: bold;
  color: #123b7d;
  }
  
  .navbar.bg-dark {
      background:#001c4e !important;
  }

  ion-menu-button{
    background-color: white;
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}
